.svg-gs_logo {
	background: url("svg/sprite.css-272456bf.svg") 0 0 no-repeat;
}

.svg-gs_logo-dims {
	width: 247.4px;
	height: 75.9px;
}

.svg-gs_vinn {
	background: url("svg/sprite.css-272456bf.svg") 0 98.95697522816168% no-repeat;
}

.svg-gs_vinn-dims {
	width: 82.5px;
	height: 54.3px;
}

