.blog-header {
  .blog-icon {
    width:3em;
    height:3em;
  }
}


.flexbox {
  .blog-header {
    display:flex;
    flex-direction:row;
    align-items: flex-end;
    .blog-title-wrap {
      flex-grow:1;
    }
    .blog-category-wrap {
      flex-grow:3;
    }
  }
}



.featured-blog {
  position:relative;
  padding-top:65%;
  &:before {
    content:"";
    position:absolute;
    top:0;
    width:100%;
    height: 0;
    padding-top: 40%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.2+36,0+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 36%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 36%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 36%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }
  .item-copy {
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:5;
    padding:1.5em;
  }
  .category {
    margin-left:2em;
  }
}
.sub-featured-blog {
  padding-top:40%;
  .item-title {
    width:70%;
    float:left;
  }
  .item-meta {
    width:29%;
    float:right;
    .author {
      display:none;
    }
    .category {
      display:block;
      text-align: right;
      .category-link {
        text-align: center;
        display: block;
        .gs-svg {
          width: 100%;
          height: 2.4em;
          margin-left: 0;
          margin-bottom: -0.1em;
          display: block;
        }
      }
    }
  }

}
.blog-excerpt:not(.featured-blog):not(.sub-featured-blog) {
  padding-top:100%;
  .item-title {
    min-height:3.6em;
  }
  .author {
    font-size:0.8em;
    width:50%;
    float:left;
  }
  .category {
    width:49%;
    float:right;
    text-align:right;
    margin-top:-0.2em;
  }
}
.blog-excerpt {
  margin-bottom:12px;
}
.blog-excerpt:not(.featured-blog) {
  position:relative;
  .item-copy {
    position:absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: 5;
    padding: 0.5em 1em;
    transition:background 0.3s ease;
    background: rgba(255, 255, 255, 0.85);
  }
  &:hover {
    .item-copy {
      background: rgba(255, 255, 255, 0.95);
    }
  }
}
/* Full-fledged grid for flexbox'ers (using modernizr) */
// This breaks in Firefox... need to find out why
.flexbox {
  @media screen and (min-width:$screen-sm-min){
    // flexbox rules apply down until the sm breakpoint
    .featured-blog-posts {
      display:flex;
      .main-featured {
        // flex-grow:16;

        // bootstrap overrides
        float: none;
        width: auto;

        // set up as flexbox for children
        display:flex;
        flex-direction: column;
        .featured-blog {
          // full height children
          flex-grow:1;
        }
      }
      .sub-featured {
        // flex-grow:8;

        // bootstrap overrides
        float: none;
        width: auto;

        // set up as flexbox for children
        display:flex;
        flex-direction: column;
        .blog-excerpt {
          // full height children
          flex-grow:1;
        }
      }
    }
  }
  @media screen and (min-width:$screen-lg-min){
    .featured-blog-posts {
      .main-featured {
        flex-grow:16;
      }
      .sub-featured {
        flex-grow:8;
      }
    }
  }
  @media screen and (min-width:$screen-md-min) and (max-width:$screen-lg-min){
    .featured-blog-posts {
      .main-featured {
        flex-grow:13;
      }
      .sub-featured {
        flex-grow:11;
      }
    }
  }
  @media screen and (min-width:$screen-sm-min) and (max-width:$screen-md-min){
    .featured-blog-posts {
      flex-direction:column;
      .main-featured {

        // // set up as flexbox for children
        // display:flex;
        // flex-direction: column;
        .featured-blog {
          // // full height children
          // flex-grow:1;
        }
      }
      .sub-featured {
        flex-direction: row;
        .blog-excerpt {
          // full height children
          flex-grow:1;
          margin-right:12px;
          &:last-child {
            margin-right:0;
          }
        }

      }
    }
  }
}


/* Single Post -------------*/
.single-featured-image {
  // proportional-to-width background image container
  height:0;
  padding-top:50%;

  // intro animation stuff
  transition:all 0.6s ease;
  opacity:1;
  margin:0;
  transform:scale(1) perspective(50em) rotateX(0deg) translateY(0);
  display:block;
  img {
    display:block;
  }
}
.preload .single-featured-image {
  opacity:0;
  margin:-4em 0 0;
  transform:scale(1) perspective(50em) rotateX(20deg) translateY(-2%);
}

.category-list {
  list-style:none;
  padding-left:0;
  li {
    display:inline-block;
    margin:0 0.5em;
    a {
      color:$bodyColorExtralight;
    }
  }
}
.category-link {
  .gs-svg {
    width:1.4em;
    height:1.4em;
    margin-left:0.2em;
    margin-top:-0.1em;
    display: inline-block;
    vertical-align: middle;
    .outlineOne {
      stroke-width:15;
    }
  }
}
@media screen and (max-width:$screen-md-min){
  .single-post-sidebar {
    margin-top:3em;
  }
}
@media screen and (min-width:$screen-md-min) and (max-width:1350px){
  .single-post-sidebar {
    .blog-excerpt {
      .item-copy {
        font-size:0.8em;
      }
    }
  }
}
@media screen and (max-width:420px){
  .single-post-sidebar {
    .blog-excerpt {
      .item-copy {
        font-size:0.8em;
      }
    }
  }
}
