.phone-illustration {
  position:relative;
  .node-line {
    position:absolute;
    top:100%;
    right:50%;
    margin-right:-6px;
    width:700px;
    height:60px;

    stroke-dashoffset: 0;
    stroke-dasharray: 1000;
    transition: stroke-dashoffset 1.2s ease-in-out;

    .preload & {
      stroke-dashoffset: -1000;
    }
  }
}
.fieldset {
  position:relative;
  .node-line {
    position:absolute;
    left:calc(100% + 0.5em);
    top:calc(100% - 1.6em);
    width:700px;
    height:18px;

    stroke-dasharray: 1000;
    transition: stroke-dashoffset 0.8s ease-in-out;
    stroke-dashoffset: -1000;
  }
  &.focus {
    .node-line {
      stroke-dashoffset: 0;
    }
  }
}
.phone {
  position:relative;
  .gs-svg {
    position:absolute;
    right:calc(100% + 0.7rem);
    top:0.5rem;
    // margin-top:-1rem;
    width:2rem;
    height:2rem;
  }
}
.address {
  position:relative;
  .gs-svg {
    position:absolute;
    right:calc(100% + 0.7rem);
    top:0.5rem;
    // margin-top:-1rem;
    width:2rem;
    height:2rem;
  }
}
