html, html a, html button, html input, html textarea, html select {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

html, body {
    height: 100%;
}

body {
    background-color: #fff;
    color: $bodyColor;
    font-family: $primaryFontFamily, sans-serif;
    font-size: $baseFontSize;
    height: 100%;
    width: 100%;
    line-height:1.4;
}
.wrapper {
    // height: 100%;
  background:white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

main {
    height: 100%;
    // overflow: auto;
}


/* Typography styles */
@mixin headers(){
  font-family: $secondaryFontFamily, sans-serif;
  line-height:1.2;
  // text-transform: uppercase;
  font-weight:bold;
}
.h1, .h2, .h3, .h4, .h5 {
  @include headers();
  margin:0;
  text-transform: uppercase;
  // line-height: 1;
  .bgColor & {
    color:white;
  }
  &.alt {
    font-family:$primaryFontFamily, sans-serif;
    text-transform:none;
  }
}
a {
  &.h1, &.h2, &.h3, &.h4, &.h5 {
    display: block;
    text-decoration: none !important;
  }
}
.h1 {
  font-size:3.9em;
}
.h2 {
  font-size: 2.8em;
}
.h3 {
  font-size: 2.4em;
}
.h4 {
  font-size: 1.8em;
}
.h5 {
  font-size:1.1em;
}
h1, h2, h3, h4, h5 {
  font-weight: normal;
}
.wysiwyg, .template-wysiwyg {
  line-height:1.5;
  h1, h2, h3, h4, h5 {
    @include headers();
    margin:0.8em 0 0.4em;
    &:first-child {
      margin-top:0;
    }
  }
  h1 {
    // font-size:3.9em;
    font-size:2.8em;
  }
  h2 {
    // font-size:2.8em;
    font-size:2em;
  }
  h3 {
    // font-size:2em;
    font-size:1.6em;
  }
  h4 {
    font-size:1.3em;
  }
  h5 {
    font-size:1.1em;
  }
  blockquote {
    font-size:1.66em;
    font-weight:400;
    color:$secondaryColor;
    margin:0.8em 0 1em;
    line-height:1.3;
  }
  ul, ol {
    padding-left:1em;
    margin:0.5em 0 1em;
  }
}

.template-wysiwyg {
  h1, h2, h3, h4, h5 {
    text-transform: uppercase;
  }
}


// /* Typography styles */
// @mixin headers(){
//   font-family: $secondaryFontFamily, sans-serif;
//   line-height:1.2;
//   text-transform: uppercase;
//   font-weight:bold;
// }
// .h1, .h2, .h3, .h4, .h5 {
//   @include headers();
//   margin:0;
//   // line-height: 1;
//   .bgColor & {
//     color:white;
//   }
//   &.alt {
//     font-family:$primaryFontFamily, sans-serif;
//     text-transform:none;
//   }
// }
// a {
//   &.h1, &.h2, &.h3, &.h4, &.h5 {
//     display: block;
//     text-decoration: none !important;
//   }
// }
// .h1 {
//   font-size:3.9em;
// }
// .h2 {
//   font-size: 2.8em;
// }
// .h3 {
//   font-size: 2.4em;
// }
// .h4 {
//   font-size: 1.8em;
// }
// .h5 {
//   font-size:1.1em;
// }
// h1, h2, h3, h4, h5 {
//   font-weight: normal;
// }
// .wysiwyg {
//   line-height:1.5;
//   h1, h2, h3, h4, h5 {
//     @include headers();
//     margin:0.8em 0 0.4em;
//     &:first-child {
//       margin-top:0;
//     }
//   }
//   h1 {
//     font-size:3.9em;
//   }
//   h2 {
//     font-size:2.8em;
//   }
//   h3 {
//     font-size:2em;
//   }
//   h4 {
//     font-size:1.3em;
//   }
//   h5 {
//     font-size:1.1em;
//   }
//   blockquote {
//     font-size:1.66em;
//     font-weight:400;
//     color:$secondaryColor;
//     margin:0.8em 0 1em;
//     line-height:1.3;
//   }
//   ul, ol {
//     padding-left:1em;
//     margin:0.5em 0 1em;
//   }
// }
// .wysiwyg {
//   h1, h2, h3, h4, h5 {
//     &:first-child {
//       margin-top:0;
//     }
//   }
// }
@media (max-width:$screen-sm-min){
  // scale down headers at bootstrap sm
  .h1 {
  }
  .h2 {
  }
  .h3 {
  }
  .wysiwyg {
    h1 {
    }
    h2 {
    }
    h3 {
    }
  }
}
@media (max-width:550px){
  // little bit smaller now, for mobile
  .h1 {
  }
  .h2 {
  }
  .h3 {
  }
  .h4 {
  }
  .h5 {
  }
  .wysiwyg {
    h1 {
    }
    h2 {
    }
    h3 {
    }
    h4 {
    }
    h5 {
    }
  }
}

.node-line-header {
  position:relative;
  color:$primaryColor;
  .gs-svg {
    content: "";
    position: absolute;
    // right: 101.5%;
    right: calc(100% + 0.3em);
    top: -2px;
    height: 18px;
    width: 700px;
    .nodeLineOutline {
      stroke:$primaryColor;
    }
    // stroke-dashoffset: -600;
    // stroke-dasharray: 600;
    transition: stroke-dashoffset 0.7s ease-in-out;
  }
  transform:translateX(-50px);
  // opacity:0;
  transition:all 0.5s ease;
  &.scroll-trigger {
    opacity:0;
  }
  &.active {
    transform:translateX(0);
    opacity:1;
    .gs-svg {
      // stroke-dashoffset: 0;
    }
  }
}
.bg-green, .bg-blue, .bg-gray, .text-white {
  .node-line-header {
    color:white;
    .gs-svg {
      .nodeLineOutline {
        stroke:white;
      }
    }
  }
}

.emphasis {
  font-size:1.66em;
  font-weight:400;
}
p.emphasis, p.emphasis-alt {
  margin-bottom:0.6em;
}
.emphasis-alt {
  @extend .emphasis;
  font-weight:bold;
}
.emphasis-sm {
  font-size:1.22em;
  font-weight:400;
}
label {
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

p {
    // line-height: 1.5;
    margin-bottom: 1em;
}

small {
    font-size: em(14);
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: (24 / 14);
    text-transform: uppercase;
}
.text-sm {
  font-size:0.8em;
}

.primary {
    background-color: $primaryColor;
    color: #fff;
}
.secondary {
    color: #fff;
}



a {
    color: $primaryColor;
    transition:all 0.3s ease;
    &:hover, &:focus {
        color:lighten($primaryColor, 10%);
        text-decoration: none;
    }
}

a.btn,
.btn {
  display:inline-block;
  padding:0.5em 2em;
  color:#fff;
  background:$primaryColor;
  text-decoration: none !important;
  text-transform:uppercase;
  font-size:0.9em;
  &:after {
    content:"\00BB";
    margin-left:0.4em;
    font-size:1.2em;
    line-height: 0.8em;
  }
  &:hover {
    background:lighten($primaryColor, 10%);
    color:#fff;

  }
  &.btn-outlined {
    background:transparent;
    box-shadow:inset 0 0 0 2px $primaryColor;
    color:$primaryColor;
    &:hover {
      background:rgba(0,0,0,0.2);
    }
    .bg-dark & {
      // box-shadow:inset 0 0 0 1px white;
      color:white;
      // &:hover {
      //   background:rgba(255,255,255,0.4);
      // }
    }
  }
  &.btn-back {
    &:before {
      content:"\00AB";
      margin-right:0.4em;
      font-size:1.2em;
      line-height: 0.8em;
    }
    &:after {
      content:"";
    }
  }
}
input.btn {
  border:none;
}
button.btn {
  border:0;
  transition:all 0.3s ease;
}
.btn-wrap .btn {
  margin-right:0.5em;
  margin-bottom:0.5em;
}
.text-cta {
  font-family: $secondaryFontFamily, sans-serif;
  line-height:1.2;
  text-transform: uppercase;
  font-weight:bold;
  &:after {
    content: "\00BB";
    margin-left:0.2em;
  }
  &.arrow-up:after {
    display:inline-block;
    transform:rotate(-90deg);
  }
  &.arrow-down:after {
    display:inline-block;
    transform:rotate(90deg);
    margin-left:0.4em;
  }
}

.pull-quote-base {
  clear: both;
  padding: 0 0 0.8em 0;
  margin: 0 0 0 1.6em;
  max-width: 12em;
  font-size: 1.4em;
  line-height: 1.3;
}
.pull-quote-right, blockquote.pull-quote-right {
  @extend .pull-quote-base;
  float: right;
  margin-right:-2em;
}
.pull-quote-left, blockquote.pull-quote-left {
  @extend .pull-quote-base;
  float: left;
  margin-left:-2em;
}


/* Media */

img {
    max-width: 100%;
    height: auto;
}
svg {
  max-width:100%;
  height:auto;
  max-height:100%;
  path {
    fill:inherit;
    stroke:inherit;
  }
}

main {
    ol, ul {
        padding-left: 0;
        margin: 0;
    }
}
 /* Colors & Gradients */

 .text-yellow {
   color:$gs-yellow;
 }
 a.text-yellow {
   color:$gs-yellow;
   &:hover {
     color:lighten($gs-yellow, 10%);
   }
 }
 .text-blue {
   color:$gs-blue;
 }
 a.text-blue {
   color:$gs-blue;
   &:hover {
     color:lighten($gs-blue, 10%);
   }
 }
 .text-red {
   color:$gs-red;
 }
 a.text-red {
   color:$gs-red;
   &:hover {
     color:lighten($gs-red, 10%);
   }
 }
 .text-green {
   color:$gs-green;
 }
 a.text-green {
   color:$gs-green;
   &:hover {
     color:lighten($gs-green, 10%);
   }
 }
 .text-purple {
   color:$gs-purple;
 }
 a.text-purple {
   color:$gs-purple;
   &:hover {
     color:lighten($gs-purple, 10%);
   }
 }

.text-white {
  color:white;
  a {
    color:inherit;
    &:not([class*="text-"]):not(.btn):hover {
      // apply green hover to override the white, unless the link has a text-color class, then let that hover color show through
      color:$primaryColor;
    }
  }
  .btn-outlined, a.btn-outlined {
    color:inherit;
  }
}
.text-default {
  // color:inherit;
  color:$bodyColor;
  a {
    color:inherit;
    &:hover {
      color:$primaryColor;
    }
  }
}

.lowercase {
  text-transform: none;
}

.bg-dark {
  color:white;
}

.bg-green {
  // green background with a slight gradient
  background:$primaryColor;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#55a46d+0,5ab441+100 */
  background: #55a46d; /* Old browsers */
  background: -moz-linear-gradient(left,  #55a46d 0%, #5ab441 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #55a46d 0%,#5ab441 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #55a46d 0%,#5ab441 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55a46d', endColorstr='#5ab441',GradientType=1 ); /* IE6-9 */

  color:white;
  .text-cta {
    color:$bodyColor;
    &:hover {
      color:lighten($bodyColor, 20%);
    }
  }
}

.bg-blue {
  // blue background with a slight gradient
  background:#4182be;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4192a6+0,4182be+100 */
  background: #4192a6; /* Old browsers */
  background: -moz-linear-gradient(left,  #4192a6 0%, #4182be 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #4192a6 0%,#4182be 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #4192a6 0%,#4182be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4192a6', endColorstr='#4182be',GradientType=1 ); /* IE6-9 */

  color:white;
  .text-cta {
    color:$tertiaryColor;
    &:hover {
      color:lighten($tertiaryColor, 20%);
    }
  }
}

.bg-blue-purple {
  // blue background with a slight gradient
  background:#4182be;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4182be+0,4182be+100 */
  background: #4182be; /* Old browsers */
  background: -moz-linear-gradient(left,  #4182be 0%, #535ea9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #4182be 0%,#535ea9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #4182be 0%,#535ea9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4182be', endColorstr='#535ea9',GradientType=1 ); /* IE6-9 */

  color:white;
  .text-cta {
    color:$tertiaryColor;
    &:hover {
      color:lighten($tertiaryColor, 20%);
    }
  }
}

.bg-red {
  // blue background with a slight gradient
  background:$gs-red;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4182be+0,4182be+100 */
  background: $gs-red; /* Old browsers */
  background: -moz-linear-gradient(left,  $gs-red 0%, #a0285d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  $gs-red 0%,#a0285d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  $gs-red 0%,#a0285d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gs-red', endColorstr='#a0285d',GradientType=1 ); /* IE6-9 */

  color:white;
  .text-cta {
    color:$tertiaryColor;
    &:hover {
      color:lighten($tertiaryColor, 20%);
    }
  }
}

.bg-purple {
  // blue background with a slight gradient
  background:$gs-purple;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4182be+0,4182be+100 */
  background: $gs-purple; /* Old browsers */
  background: -moz-linear-gradient(left,  $gs-purple 0%, #83288c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  $gs-purple 0%,#83288c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  $gs-purple 0%,#83288c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gs-purple', endColorstr='#83288c',GradientType=1 ); /* IE6-9 */

  color:white;
  .text-cta {
    color:$tertiaryColor;
    &:hover {
      color:lighten($tertiaryColor, 20%);
    }
  }
}

.bg-gray, .bg-grey {
  background:$bodyColor;
  color:white;
  .text-cta {
    color:$primaryColor;
    &:hover {
      color:lighten($primaryColor, 20%);
    }
  }
}

.bg-fade-blue-green {
  // gradient fade overlay
  position:relative;
  &:after {
    content:"";
    @include absoluteFill;
    opacity:0.2;
    transition:all 0.3s ease;
    z-index:2;
    pointer-events: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4182be+0,59b53f+100 */
    background: #4182be; /* Old browsers */
    background: -moz-linear-gradient(left,  #4182be 0%, #59b53f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #4182be 0%,#59b53f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #4182be 0%,#59b53f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4182be', endColorstr='#59b53f',GradientType=1 ); /* IE6-9 */
  }
}

.bg-fade-green-blue {
  // gradient fade overlay
  position:relative;
  &:after {
    content:"";
    @include absoluteFill;
    opacity:0.2;
    transition:all 0.3s ease;
    z-index:2;
    pointer-events: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59b53f+0,59b53f+100 */
    background: #59b53f; /* Old browsers */
    background: -moz-linear-gradient(left,  #59b53f 0%, #4182be 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #59b53f 0%,#4182be 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #59b53f 0%,#4182be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59b53f', endColorstr='#4182be',GradientType=1 ); /* IE6-9 */
  }
}

.bg-fade-blue-yellow {
  // gradient fade overlay
  position:relative;
  &:after {
    content:"";
    @include absoluteFill;
    opacity:0.2;
    transition:all 0.3s ease;
    z-index:2;
    pointer-events: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4182be+0,59b53f+100 */
    background: #4182be; /* Old browsers */
    background: -moz-linear-gradient(left,  #4182be 0%, $tertiaryColor 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #4182be 0%,$tertiaryColor 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #4182be 0%,$tertiaryColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4182be', endColorstr='$tertiaryColor',GradientType=1 ); /* IE6-9 */
  }
}

.bg-fade-yellow-blue {
  // gradient fade overlay
  position:relative;
  &:after {
    content:"";
    @include absoluteFill;
    opacity:0.2;
    transition:all 0.3s ease;
    z-index:2;
    pointer-events: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4182be+0,59b53f+100 */
    background: $gs-yellow; /* Old browsers */
    background: -moz-linear-gradient(left,  $gs-yellow 0%, $gs-blue 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $gs-yellow 0%,$gs-blue 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $gs-yellow 0%,$gs-blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gs-yellow', endColorstr='$gs-blue',GradientType=1 ); /* IE6-9 */
  }
}

.bg-fade-blue-purple {
  // gradient fade overlay
  position:relative;
  &:after {
    content:"";
    @include absoluteFill;
    opacity:0.2;
    transition:all 0.3s ease;
    z-index:2;
    pointer-events: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4182be+0,59b53f+100 */
    background: #4182be; /* Old browsers */
    background: -moz-linear-gradient(left,  #4182be 0%, $gs-purple 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #4182be 0%,$gs-purple 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #4182be 0%,$gs-purple 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4182be', endColorstr='$gs-purple',GradientType=1 ); /* IE6-9 */
  }
}

.bg-fade-purple-blue {
  // gradient fade overlay
  position:relative;
  &:after {
    content:"";
    @include absoluteFill;
    opacity:0.2;
    transition:all 0.3s ease;
    z-index:2;
    pointer-events: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4182be+0,59b53f+100 */
    background: $gs-purple; /* Old browsers */
    background: -moz-linear-gradient(left,  $gs-purple 0%, $gs-blue 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $gs-purple 0%,$gs-blue 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $gs-purple 0%,$gs-blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gs-purple', endColorstr='$gs-blue',GradientType=1 ); /* IE6-9 */
  }
}

.preload [class*="bg-fade-"]:after {
  opacity:1;
}

.grid-layout form {
  label {
    display:none;
  }
  .row {
    input {
      margin-bottom:0.4em;
      width:calc(100% - 0.4em);
    }
  }
  button {
    width:calc(100% - 0.4em);
  }
}

.post-edit-link {
  display:none;
}

/* Hidden Content Reveal */
.expanding-content {
  .a_show {
    position:relative;
    opacity:1;
    top:0;
    transition: all 0.3s ease;
    display:inline-block;
  }
  .a_hide {
    position:relative;
    opacity:0;
    transition: all 0.3s ease;
  }
  .hidden-info {
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.3s ease, min-height 0.3s ease-in-out;
  }
  &.active {
    max-height: 6000px;
    .a_show {
      top:-1.5em;
      opacity:0;
      pointer-events: none;
    }
    .a_hide {
      opacity:1;
    }
    .hidden-info {
      max-height:500px;
      margin-top:-1.5em;
    }
  }
}
.image-gallery {
  a{
    transform:scale(1) perspective(50em) rotateX(0deg);
    display:block;
    &:hover {
      position:relative;
      transform:scale(1) perspective(50em) rotateX(10deg);
      z-index:5;

      &:after {
        opacity:0;
      }
    }
  }
  img {
    display:block;
    margin-bottom:12px;
  }
}
.modal-image {
  .mfp-figure {
    max-width:800px;
    &:after {
      content:none;
    }
  }
  .mfp-title {
    padding:1em;
  }
  .mfp-img {
    padding-bottom:0;
  }
  .mfp-bottom-bar {
    margin-top: 0;
    position: relative;
    top: 0;
    left: 0;
    padding:0;
    cursor: auto;
  }
}


.tilt-hover {
  transition:all 0.3s ease;
  transform:scale(1) perspective(50em) rotateX(0deg) translateY(0);
  display:block;
  &:hover {
    position:relative;
    transform:scale(1) perspective(50em) rotateX(8deg) translateY(-3%);
    z-index:5;

    // look for gradient overlay classes, and fade them out
    &[class*="bg-fade-"]:after {
      opacity:0;
    }
    div[class*="bg-fade-"]:after {
      opacity:0;
    }
  }
}
.tilt-hover-sm {
  transition:all 0.3s ease;
  transform:scale(1) perspective(50em) rotateX(0deg) translateY(0);
  display:block;
  &:hover {
    position:relative;
    transform:scale(1) perspective(50em) rotateX(5deg) translateY(-2%);
    z-index:5;

    // look for gradient overlay classes, and fade them out
    &[class*="bg-fade-"]:after {
      opacity:0;
    }
    div[class*="bg-fade-"]:after {
      opacity:0;
    }
  }
}

.hover-copy {
  position:relative;
  overflow:hidden;
  .item-copy {
    background:rgba(255,255,255,0.85);
    padding:1em;
    position:absolute;
    left:0;
    right:0;
    bottom:-4em;
    transition:all 0.3s ease;
  }
  &:hover {
    .item-copy {
      bottom:0;
    }
    &[class*="bg-fade-"]:after {
      opacity:0;
    }
    *[class*="bg-fade-"]:after {
      opacity:0;
    }
  }
  &:focus {
    outline:0;
  }
}


/* start state */
  .mfp-content {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.5) perspective(60em) rotateX(70deg);
  }

  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-content {
      opacity: 1;
      transform: scale(1) perspective(60em) rotateX(0deg);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {

    .mfp-content {
      transform: scale(0.5) perspective(60em) rotateX(70deg);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }

  }

/* Flip Card Animation */
.flip-card {
  perspective: 1500px;
  position: relative;
}
.flip-card:hover {
  z-index:5;
  .card {
    transform: rotatey(-180deg);
  }
}
.flip-card .card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.8s;
}
.flip-card .card .card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden ;
  z-index: 2;
}
.flip-card .card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.flip-card .card .back {
  transform: rotatey(-180deg);
  cursor: pointer;
}

/* BG Slideshow */
.bg-slideshow {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  .slick-list, .slick-track {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    width:auto;
  }
  .bg-slide {
    position:absolute !important;
    left:0 !important;
    right:0 !important;
    bottom:0 !important;
    top:0 !important;
  }
}

/* Fold Up On Scroll */
.fold-scroll {
  position:relative;
  // transition:all 0.3s ease;
  transform:scale(1) perspective(50em) rotateX(0deg) translateY(0);
  display:block;
  // &:hover {
  //   transform:scale(1) perspective(50em) rotateX(10deg) translateY(0);
  // }
}

.share-links {
  list-style:none;
  padding-left:0;
  a {
    vertical-align: top;
    text-align:left;
    display:inline-block;
    margin-bottom:0.5em;
    color:$bodyColor;
    &:hover {
      color:$primaryColor;
    }
    .gs-icon {
      color:$primaryColor;
      vertical-align: middle;
      width:1.4em;
      height:1.4em;
      transition: all 0.3s ease;
    }
  }
}

/* Video wrap class */
.video-wrap {
    position: relative;
    padding-bottom: 55%; /* 16:9 */
    height: 0;
}
.video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Magnific Overrides */
.mfp-close-btn-in .mfp-close {
  color: white;
  font-size:2.2em;
}
.mfp-close {
  right:-1em;
}

/* Slick Overrides */
.slick-slider {
  margin-bottom:0;
  // .slick-slide {
  //     max-width:800px;
  // }
}
.slick-dots {
  position: relative;
  bottom: auto;
  top: auto;
  margin-top: 1em;
  li {
    width:3em;
    height:3em;
    a {
      opacity:0.7;
      transition:all 0.3s ease;
      &:hover {
        opacity:1;
      }
    }
    &.slick-active {
      a {
        opacity:1;
      }
    }
  }
}
.slick-track {

  .slide:not(:only-of-type) {
    // any adjascent sibling of 2nd slide (anything but single slides)
    &:hover {
      cursor:pointer;
    }
  }
}
