header {
  position:relative;
  z-index:5;
  .nav-logo {
    width: 140px;
    height:40px;
    padding:0;
    margin-right:1em;
  }
  .audio-player {
    float:right;
    clear:both;
    margin:0.6em 0 0.2em 0.2em;
    width:14em;
  }
}
.site-header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:#000;
  padding:0.5em;
}
.site-title {
  display:inline-block;
  margin:0;
  line-height: 1;
}
.header-logo {
  display:inline-block;
  width:18em;
  margin:0.5em 0;
}

#main-nav {
  display:inline-block;
  a {
    display:inline-block;
    margin:0 0.2em;
    &:hover {
      opacity:0.8;
    }
  }
  .btn {
    padding-left:1em;
    padding-right:1em;
  }
  .sub-menu {
    display:none;
    position:absolute;
    bottom:100%;
  }
}
.header-featured-image-wrap {
  overflow:hidden;
}
.header-featured-image {
  height:500px;
  transition:opacity 0.3s ease;
  opacity:1;
}
.preload {
  .header-featured-image {
    opacity:0;
  }
}
.loading-animation {
  opacity:0;
  transition:opacity 0.3s ease 0.2s;
}
.preload {
  .loading-animation {
    opacity:1;
  }
}
// nav {
//   ul {
//     > li {
//       display: inline-block;
//       vertical-align: middle;
//       > a {
//         color: $bodyColor;
//         display: inline-block;
//         padding: 1.2em 1.4em;
//         text-transform:uppercase;
//         &:hover {
//           color:$primaryColor;
//         }
//       }
//       &.current-menu-item, &.current-page-ancestor {
//         > a {
//           color:$primaryColor;
//         }
//       }
//     }
//     &.sub-menu {
//       > li {
//         > a {
//         }
//       }
//     }
//   }
//   svg {
//     fill:currentColor;
//   }
// }


@media (max-width:1250px){
  nav {
    ul {
      > li {
        > a {
          padding: 1.2em 1.5em;
        }
      }
    }
  }
}
@media (max-width:1100px){
  nav {
    ul {
      > li {
        > a {
          padding: 1.2em 0.8em;
        }
      }
    }
  }
}


/* Hero Section */
.preload {
  #page-hero {
    .hero-bg-wrap {
      transform: scale(1.15,1.15);
    }
    .hero-bg {
      &:after {
        opacity:1;
      }
    }
  }
}
#page-hero {
  position:relative;
  overflow:hidden;
  .hero-bg-wrap {
    @include absoluteFill;
    transform: scale(1,1);
    transition:transform 1.2s ease;
  }
  .hero-bg {
    @include absoluteFill;
    z-index:1;
    &:after {
      opacity:0.4;
    }
  }
  .hero-icon {
    width:150px;
    height:150px;
    margin:0 auto;
  }
  .hero-content {
    position:relative;
    z-index:4;
    // max-width:1050px;
    width:100%;
    margin: 0 auto;
  }
  &.text-white {
    color: white;
    nav {
      ul {
        > li {
          > a {
            color: white;
            &:hover {
              color:$primaryColor;
            }
          }
          &.current-menu-item, &.current-page-ancestor {
            > a {
              color:$primaryColor;
            }
          }
          &.active a {
            color:$primaryColor;
          }
        }
      }
    }
  }
  &.bg-img {
    color: white;
    header {
      &:before {
        content:"";
        position:absolute;
        top:0;
        width:100%;
        height:150px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.2+36,0+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 36%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 36%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 36%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

      }
    }

    .hero-content {
      // max-width: 750px;
      min-height:700px;
      text-align: center;
      // display:table;
      display:flex;
      align-items: center;
      .hero-content-inner {
        flex:1;
        position: relative;
z-index: 9;
        // display:table-cell;
        // vertical-align: middle;
      }
      .hero-node-line {
        position:absolute;
        top:105%;
        right:49%;
        svg {
          width:300px;
          height:290px;
        }
      }
    }
    &.team-hero {
      .hero-content {
        align-items: flex-end;
        text-align:left;
        text-shadow:0 0 0.4em rgba(0,0,0,0.3);
      }
    }
  }

  &.hero-minimal {
    .hero-content {
      margin-top:6em;
    }
  }
}
.preload .hero__title {
  transform:translate(-50px, 0);
  opacity:0;
}
.hero__title {
  transition:all 0.6s ease;
  transform:translate(0,0);
}
.preload .hero__sub-title {
  transform:translate(-50px, 0);
  opacity:0;
}
.hero__sub-title {
  transition:all 0.4s ease 0.15s;
  transform:translate(0,0);
}
.preload .hero__description {
  transform:translate(-50px, 0);
  opacity:0;
}
.hero__description {
  transition:all 0.3s ease 0.3s;
  transform:translate(0,0);
}

// .preload .hero-icon {
//   stroke-dashoffset: -800;
// }
// .hero-icon {
//   stroke-dashoffset: 0;
//   stroke-dasharray: 1100;
//   transition: stroke-dashoffset 1s ease-in-out;
// }

svg {
  .nodeLineOutline {
    stroke:white;
  }
}
// .preload .hero-node-line {
//   stroke-dashoffset: -1000;
// }
// .hero-node-line {
//   stroke-dashoffset: 0;
//   stroke-dasharray: 1000;
//   transition: stroke-dashoffset 1.2s ease-in-out;
// }

@media screen and (max-width: 991px) {
  #mobile-menu-button {
    width: 32px;
    height: 26px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    float: right;
    margin: 0.6em 0;
    span {
      display: block;
      position: absolute;
      height: 6px;
      width: 100%;
      background: $primaryColor;
      border-radius: 0;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        top: 20px;
      }
    }
    &.open {
      span {
        &:nth-child(1) {
          top: 10px;
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
          left: -30px;
        }
        &:nth-child(3) {
          top: 10px;
          transform: rotate(-135deg);
        }
      }
    }
  }

  nav#mobile-menu {
    ul {
      > li {
        display: block;
        position: relative;
        text-align: center;
        > a {
          width: 100%;
        }
        &.menu-item-has-children {
          > a {
            &:after {
              content: "";
              position: absolute;
              top: 35px;
              margin-left: 10px;
            }
          }
          .sub-menu {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 0.5s ease;
            > li {
              > a {
              }
            }
          }
          &.open {
            > a {
              &:after {
                top: 27px;
              }
            }
            .sub-menu {
              max-height: 999px;
              opacity: 1;
            }
          }
        }
      }
    }

    // .mobile-menu-footer {
    //   border-top: solid 1px #fff;
    //   .mobile-login-menu {
    //     ul {
    //       > li {
    //         color: #fff;
    //         display: inline-block;
    //         > a {
    //           color: #fff;
    //           padding-bottom: 0.275em;
    //           padding-top: 0.275em;
    //           width: auto;
    //         }
    //         + li:before {
    //           content: " | ";
    //         }
    //       }
    //     }
    //   }
    // }
  }
  .super-header-mobile {
    background-color: #fff;
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    a {
        display: inline-block;
        // padding: 0.85em;
    }
    .nav-logo {
      width: 90px;
      margin: 0.2em 0 0;
      fill:#333;
    }
  }
  .slideout-menu {
    top:0;
  }
}
