.cta-module {
  position:relative;
  .cta__background {
    @include absoluteFill;
    // hover highlight disabled for now...
    // .hover-highlight {
    //   position:absolute;
    //   top:0;
    //   left:0;
    //   opacity:0;
    //   width:400px;
    //   height:400px;
    //   border-radius:50%;
    //   transition:all 0.3s ease;
    //   z-index:99;
    //
    //   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+99&1+0,0+68 */
    //   background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 68%, rgba(255,255,255,0) 99%); /* FF3.6-15 */
    //   background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 68%,rgba(255,255,255,0) 99%); /* Chrome10-25,Safari5.1-6 */
    //   background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 68%,rgba(255,255,255,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    // }
    // &:hover .hover-highlight {
    //   opacity:0.2;
    // }
  }
  .cta-bg-image {
    opacity:0.1;
  }
  .cta__backgrounds {
    @include absoluteFill;
    .cta__background:first-child {
      right:50%;
    }
    .cta__background:last-child {
      left:50%;
    }
  }
  .page-cta {
    .gs-svg {
      max-width:250px;
      max-height:250px;
      .outlineOne {
        stroke-width:4px;
      }
      // stroke-dashoffset: -1200;
      // stroke-dasharray: 1200;
      // transition: stroke-dashoffset 1s ease-in-out;
    }
    // &.active .gs-svg {
    //   stroke-dashoffset: 0;
    // }

    .inner {
      max-width:500px;
      margin:0 auto;
    }
    .cta-image {
      position:relative;
      opacity:0;
      transform:translateX(-100px);
      transition:all 1s ease;
    }
    &.active .cta-image {
      opacity:1;
      transform:translateX(0px);
    }

  }

  .blog-cta {
    position:relative;
    // .page-cta__copy {
    //   width:100%;
    //   max-width:20em;
    //   margin-left:auto;
    //   margin-right:auto;
    //   float:none;
    // }
  }

  @media (max-width:767px){
    .container {
      padding-left:15px;
      padding-right:15px; /* reset these for bootstrap */
    }
    .cta__backgrounds, .cta__background {
      display:none;
    }
    .page-cta__image {
      width:150px;
      float:none;
      margin:0 auto;
    }
    .page-cta__copy {
      width:auto;
      float:none;
      margin:0 auto;
    }
    .page-cta {
      padding-left:2em;
      padding-right:2em;
      text-align: center;
      .gs-svg {
        @include blockCenter;
        max-width:60%;
        max-width: 150px;
        // max-height: 150px;
      }
      .cta-image {
        @include blockCenter;
        max-width:60%;
        max-width: 150px;
        // max-height: 150px;
      }
    }

  }
  @media (max-width:550px){
    .page-cta {
      padding-left:1em;
      padding-right:1em;
    }
  }

}

.sub-footer.cta-module {
  .page-cta__image {
    width:150px;
    float:left;
  }
  .page-cta__copy {
    position:relative;
    z-index:5;
    width:calc(100% - 170px);
    float:right;
  }
  @media (min-width:768px){
    .page-cta {
      background:transparent !important;
    }
  }
}
.sidebar-module {
  .page-cta {
    position:relative;
    margin-bottom:2em;
    .inner {
      padding:2em;
      .page-cta__image {
        width:150px;
        margin-right:auto;
        margin-left:auto;
      }
      .page-cta__copy {

      }
    }
  }
}
