.billboard {
  position:relative;
  overflow:hidden;
  .billboard-bg {
    @include absoluteFill;
    top:-40%;
  }
  > .container {
    position:relative;
    z-index:5;
  }
  .node-line-header {
    color:white;
    position:absolute;
    top:1em;
    left:2em;
    text-align:left;
    .gs-svg {
      .nodeLineOutline {
        stroke:white;
      }
    }
  }
  .node-line-down {
    width:18px;
    height:700px;
    position:absolute;
    bottom:calc(100% - 6em);
    left:calc(50% - 9px);
  }
}
