.value-wrap {
  position:relative;
  height:0;
  padding-top:100%;
  margin-bottom:12px;
  .value {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    .subtitle {
      color:$tertiaryColor;
    }
    .card {
      border:1px solid $bodyColorExtralight;
      .front {
        background:white;
      }
      .back {
        overflow:hidden;
        padding:2em;
        background:$secondaryColor;
        color:white;
        text-align: left;
        .item-copy {
          position:relative;
          z-index:5;
        }
        .gs-svg {
          fill:darken($secondaryColor, 30%);
          stroke:darken($secondaryColor, 30%);
          opacity:0.1;
          transition:all 6s ease-out;
          transform:scale(1.2);
        }
      }
      &:hover {
        .back {
          // .gs-svg {
          //   transform:scale(1.8);
          // }
        }
      }
    }

    .bg-slideshow {
      z-index:1;
    }
    .bg-slide {
      background-size:cover;
      background-align:center center;
      background-repeat: no-repeat;
    }
    .values-label-wrap {
      position:relative;
      max-height:100%;
    }
    .values-label {
      position:relative;
      z-index:5;
      .gs-svg {
        fill:white;
        stroke:white;
      }
    }
    .bg-slide.slide-1 {
      background-image:url(img/value-bg-1.jpg);
    }
    .bg-slide.slide-2 {
      background-image:url(img/value-bg-2.jpg);
    }
    .bg-slide.slide-3 {
      background-image:url(img/value-bg-3.jpg);
    }
  }
}
