$primaryFontFamily: 'proxima-nova';
$secondaryFontFamily: 'acumin-pro-condensed';

$primaryColor: #5ab441; // green
$secondaryColor: #4182be; // blue
$tertiaryColor: #f3d857; // light yellow

$gs-yellow: #d7be3c;
$gs-green: #5ab441;
$gs-blue: #4182be;
$gs-red: #a02832;
$gs-purple: #6e288c;

$bodyColor: rgba(0,0,0,0.8);
$bodyColorLight: rgba(0,0,0,0.6);
$bodyColorExtralight: rgba(0,0,0,0.4);
$whiteLight: rgba(255,255,255,0.8);

$baseFontSize: 18px;
$baseLineHeight: 1.4;
