$primaryFontFamily: 'Open Sans';
$secondaryFontFamily: 'Oswald';

$primaryColor: #65cc9d;
$secondaryColor: #4182be; // blue
$tertiaryColor: #f3d857; // light yellow



$bodyColor: rgba(0,0,0,0.8);
$bodyColorLight: rgba(0,0,0,0.6);
$bodyColorExtralight: rgba(0,0,0,0.4);
$whiteLight: rgba(255,255,255,0.8);

$baseFontSize: 18px;
$baseLineHeight: 1.4;
